@{
    ViewBag.Title = "Home Page";
}

<canvas id="the-canvas"></canvas>
<input id="file-es" accept="application/pdf" type="file"/>
<button id="btnZoomIn" onclick="zoomInr()">ZoomIn</button>
<button id="btnZoomOut" onclick="zoomOutr()">ZoomOut</button>